@import url("https://fonts.google.com/specimen/Asul?query=mons")

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-image: url("images/bg.jpg");
	font-size: 20px;
	line-height: 22px;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
}

.bold{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.resume{
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px auto;
}

.resume .resume_left{
	width: 320px;
	background: #42ADD5;
}

.resume .resume_left .resume_profile{
	width: 100%;
	height: 400px;
}

.resume .resume_left .resume_profile img{
	width: 100%;
	height: 100%;
}


.resume .title{
	margin-bottom: 100px;
}

.resume .resume_left .bold{
	color: #fff;
	left-margin: 60px;
}



.resume .resume_left ul li{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.resume .resume_right .semi_bold{
	color: #fff;
}

.resume .resume_right .regular{
	color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 25;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #0000ff;
}

.resume .resume_left ul li .data{
	color: black;
}


